<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div>
    <label for="date">Date:</label>
    <input id="date" formControlName="date" type="date">
  </div>
  <div>
    <label for="temperatureC">°C:</label>
    <input id="temperatureC" formControlName="temperatureC" type="number">
  </div>
  <div>
    <label for="temperatureF">°F:</label>
    <input id="temperatureF" formControlName="temperatureF" type="number" readonly>
  </div>
  <div>
    <label for="summary">Summary:</label>
    <select id="summary" formControlName="summaryId">
      @for (summary of summaries$ | async; track summary.id){
        <option [value]="summary.id">{{summary.text}}</option>
      }
    </select>
  </div>
  <div>
    <label for="created">Created:</label>
    <input id="created" formControlName="created" readonly>
  </div>
  <div>
    <label for="modified">Modified:</label>
    <input id="modified" formControlName="modified" readonly>
  </div>
  <button type="submit">Submit</button>
  <button type="button" (click)="onCancel()">Cansel</button>
</form>
