<div>
  <button (click)="addData()">Add</button>
  <button (click)="edit()" [disabled]="selectedSummaryId === undefined">Edit</button>
  <button (click)="remove()" [disabled]="selectedSummaryId === undefined">Delete</button>
</div>

<table class="forecast-table">
  <thead>
  <tr>
    @for (header of headers; track header){
      <th>{{ header }}</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (summary of summaries$ | async; track summary.id){
      <tr (click)="selectRow(summary.id)" [class.selected]="summary.id === selectedSummaryId">
        <td>{{ summary.text }}</td>
        <td>{{ summary.created | date: 'dd/MM/yyyy HH:mm:ss.SSS' }}</td>
        <td>{{ summary.modified | date: 'dd/MM/yyyy HH:mm:ss.SSS' }}</td>
      </tr>
    }
  </tbody>
</table>
